@model CameraWithSellerModel

@{
    ViewData["Title"] = "Delete Camera";
}

<h2>@ViewData["Title"]</h2>

<h2>Are you sure you want to delete @Model.Make @Model.Model?</h2>

<div class="btn-group">
    <a asp-controller="Users" asp-action="Profile" asp-route-username=@Model.SellerUsername
       class="btn btn-default">Back</a>

    <a asp-controller="Cameras" asp-action="ConfirmDelete"
       asp-route-id=@Model.Id asp-route-sellerUsername=@Model.SellerUsername
       class="btn btn-danger">Delete Camera</a>
</div>