@model CameraViewModel

@{
    ViewData["Title"] = "Edit Camera";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_CameraForm", Model)


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}