@model IEnumerable<AdminFormatListingServiceModel>

@{
    ViewData["Title"] = "Formats Administration";
}

<h2>
    @ViewData["Title"]
    <a asp-action=@nameof(FormatsController.Create) class="btn btn-primary pull-right">Add Format</a>
</h2>

<table class="table table-hover table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Administration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Name</td>
                <td>@artist.Description</td>
                <td>
                    <a asp-action=@nameof(FormatsController.Edit) asp-route-id=@artist.Id
                       class="btn glyphicon glyphicon-pencil"></a>
                    <a asp-action=@nameof(FormatsController.Delete) asp-route-id=@artist.Id
                       class="btn glyphicon glyphicon-remove text-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
