@model StudentsInCourseViewModel

@{
    ViewData["Title"] = "Students in Course";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Grade</th>
            @if (Model.Course.EndDate < DateTime.UtcNow)
            {
                <th>Exam Submission</th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@(student.Grade == null ? "No Grade" : student.Grade.ToString())</td>
                @if (Model.Course.EndDate < DateTime.UtcNow)
                {
                    <td>
                        <a asp-action="DownloadExam"
                           asp-route-id=@Model.Course.Id
                           asp-route-studentId=@student.Id>Download</a>
                    </td>
                    <td>
                        <form method="post"
                              asp-action=@nameof(TrainersController.GradeStudent)
                              asp-route-id=@Model.Course.Id>
                            <input type="hidden" name="studentId" value=@student.Id />
                            <select name="grade" asp-items=@(Html.GetEnumSelectList<Grade>())></select>
                            <input type="submit" class="btn btn-primary" value="Grade Student" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>