@model RecordingFormModel

@{
    ViewData["Title"] = "Add Recording";
}

<h2>@ViewData["Title"]</h2>


@await Html.PartialAsync("_RecordingForm", Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}