@model CarsByMakeModel

@{
    ViewData["Title"] = "Cars From Make";
}

<h2>
    @Model.Make Cars
    <a class="btn btn-lg btn-primary" href="/cars/create">Add Car</a>
</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance, '000 km</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td><a href="/cars/@car.Make">@car.Make</a></td>
                <td>@car.Model</td>
                <td class="text-right">@((car.TravelledDistance / 1000).ToNumber())</td>
            </tr>
        }
    </tbody>
</table>