@model CarFormModel

@{
    ViewData["Title"] = "Add Car";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post" action="Create">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Make"></label>
                    <input asp-for="Make" type="text" required placeholder="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" type="text" required placeholder="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TravelledDistance"></label>
                    <input asp-for="TravelledDistance" type="number" min="0" step="1" class="form-control" />
                    <span asp-validation-for="TravelledDistance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartsDropdown"></label>
                    <select asp-for="SelectedParts" asp-items="Model.PartsDropdown" multiple class="form-control parts-select"></select>
                    <small>*Hold Ctrl to select multple parts</small>
                </div>
                <div>
                    <input type="submit" value="Save Car" class="btn btn-primary btn-lg btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>