@model CustomerTotalSalesModel

@{
    ViewData["Title"] = "Total Sales for Customer";
}
<h2>Total Sales for Customer</h2>

@if (Model == null)
{
    <h3>Customer not found</h3>
}
else
{
    <h3>Name: @Model.Name</h3>
    <h3>Total Cars Bought: @Model.CarsBought</h3>
    <h3>Total Money Spent: @Model.TotalMoneySpent.ToCurrency()</h3>
}
